body {
    margin: 0;
    padding: 0;
}

/* Section One Started */
.sec-one {
    width: auto;
    height: 600px;
    padding: 30px 40px;
    background-image: url(images/background-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.sec-one-div {
    display: block;
    align-items: center;
    height: 500px;
    padding: 10px 100px;
}

.top-heading {
    font-size: 8vh;
    text-align: center;
    padding-bottom: 2px;
    font-family: 'Kanit', sans-serif;
}

.top-paragraph {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.topdiv-btn {
    margin-top: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-top {
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    background-color: brown;
    color: black;
    background-color: #4CAF50;
    color: white;
}

.btn-top:hover {
    background-color: brown;
    color: black;
}

.btn-anchor {
    text-decoration: none;
}

/* Section two Started*/
.sec-two {
    width: auto;
    height: 600px;
    padding: 30px 40px;
}

.sec-two-divtop {
    margin-left: 20px;
    margin-right: 20px;
}

.second-heading {
    font-size: 5vh;
    padding-top: 70px;
    text-align: center;
    padding-bottom: 2px;
    font-family: 'Kanit', sans-serif;
}

.second-paragraph {
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 80px;
    padding: 2px 120px;
    letter-spacing: 1px;
    word-spacing: 6px;
    margin-bottom: 60px;
}

.donate-amount-div {
    display: flex;
    justify-content: center;
}

.donate-mini-div {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #f5f5f5;
    align-items: center;
    margin-bottom: 60px;
}

.donate-mini-div p {
    font-size: 30px;
    font-weight: 800;
    padding-left: 15px;
    padding-right: 15px;
}

#selected-tk {
    border: 2px solid rgb(240, 16, 16);
    color: rgb(240, 16, 16);
}


.tk-form {
    text-align: center;
}

.form-input {
    margin: 0px 210px;
    border-bottom: 2px solid #f5f5f5;
}

.form-input input {
    border: none;
    padding-bottom: 6px;
    font-size: 16px;
    text-align: center;
}

.btn-two {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(42, 165, 128);
    color: black;
    margin-top: 20px;
}

/* Section Three Started */
.sec-three {
    width: auto;
    height: 500px;
    padding: 30px 40px;
    margin-bottom: 30px;
}

.third-heading {
    font-size: 3vh;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 2px;
    font-family: 'Kanit', sans-serif;
}

.third-paragraph {
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 80px;
    padding: 2px 120px;
    letter-spacing: 1px;
    word-spacing: 6px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    justify-content: center;
    margin: 0px 40px 20px 40px;
}

.card-part {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: none;
    background-color: white;
}

.card-part img {
    height: 50px;
    padding-top: 20px;
    padding-left: 15px;
}

.card-one {
    background-color: tomato;
}

.card-two {
    background-color: bisque;
}

.card-three {
    background-color: chocolate;
}

/* section four started */

.sec-four {
    width: auto;
    height: 400px;
    padding: 30px 40px;
    margin-bottom: 30px;
}

.sec-four-top-div {
    display: flex;
    justify-content: center;
    margin: 10px 40px 20px 40px;
}

.sec-four-div-left {
    padding-left: 20px;
    margin: 5px 30px;
}

.sec-four-div-right {
    width: 50%;
    padding-left: 20px;
    margin: 5px 30px;
}

.fourth-heading {
    font-size: 6vh;
    padding-top: 10px;
    padding-left: 5px;
    text-align: left;
    font-family: 'Kanit', sans-serif;
}

.fourth-paragraph {
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    padding: 2px 2px;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
}

.btn-three {
    margin-left: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(138, 45, 219);
    color: white;
    margin-top: 20px;
    border: none;
}

.sec-four-div-right img {
    height: 400px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* section five started */

.sec-five {
    width: auto;
    height: 400px;
    margin-top: 80px;
    padding: 30px 40px;
    text-align: center;
    margin-bottom: 40px;
}

.fifth-heading {
    font-size: 6vh;
    text-align: center;
    padding-bottom: 2px;
    font-family: 'Kanit', sans-serif;
}

.fifth-paragraph {
    font-size: 16px;
    text-align: center;
    padding: 10px 300px;
    font-family: 'Roboto Mono', monospace;
}

.bottom-form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #F9F6EE;
    height: 120px;
    width: 60%;
    padding-top: 40px;
    margin-left: 220px;

}

.bottom-input {
    height: 37px;
    margin-top: 20px;
    border: none;
    background-color: #E2DFD2;
    padding-left: 15px;
    font-weight: 900;
}

.btn-four {
    padding: 7px 25px 7px 25px;
    font-size: 18px;
    margin-bottom: 61px;
    font-weight: 800;
    background-color: rgb(138, 45, 219);
    color: white;
    font-size: 14px;
    margin-top: 20px;
    border: none;
}

/* section six started */